.paginationContainer{
    width: 1350px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

@media (max-width:1300px) {
    .paginationContainer{
        width: 100%;
    }
}
