.categoryListProduct {
  width: 1400px;
  margin-bottom: 100px;
}
.categoryListProduct h2 {
  margin: 0 0 80px 0;

  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.03em;
}
.categoryContainer {
  width: 1400px;
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  column-gap: 40px;
  row-gap: 122px;
}
.productItem {
  width: 319px;
  height: 366px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productItem img {
  width: 319px;
  height: 319px;
  border-radius: 25px;
}

.productItem p {
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 0.03em;
}

@media (max-width: 1300px) {
  .categoryListProduct {
    width: 900px;
  }
  .categoryContainer {
    width: 400px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .categoryListProduct {
    width: 730px;
    display: flex;
    flex-direction: column;
  }
  .categoryListProduct h2 {
    margin: 80px 0 80px 0;
  }
  .categoryContainer {
    width: 730px;
  }
  .categoryListProduct h2 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .categoryListProduct {
    width: 380px;
  }
  .categoryContainer {
    width: 380px;
    grid-template-columns: 1fr;
  }
}
