.categoryItem {
  width: 318px;
  height: 350px;
  transition-duration: 0.2s;
}

.categoryItem:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;

  color: var(--textGreen);
}

.categoryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryItem p {
  margin-top: 20px;
  text-align: center;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;

  cursor: pointer;
}
